<% include header.ejs %>
<title> - Historique des entéres en stock <%= date %></title>
<!-- page content -->
<!-- <script>
function ConvertToUnit(qte, unittype){

    if (unittype == "Boîte"){
      return Number(qte) * 21;
    }else if (unittype == "Caisse"){
      return Number(qte) * 6 * 21;
    }else if(unittype == "Unité"){
      return Number(qte);
    }
}
</script> -->

<div class="right_col" role="main">
  <div class="">



    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
    <h2>Historique des Entrées en stock<small>Gestion de Stock</small></h2>
      <div class="pull-right">

      </div>



    <div class="clearfix"></div>
  </div>

          <div class="x_content">

<div class="table-responsive">
<!--    <table class="table table-striped jambo_table bulk_action"> datatable-buttons-->
  <!-- <table id="datatable-checkbox" class="table table-striped table-bordered dataTable no-footer" border="1" cellpadding="1"> -->
  <table id="datatable-buttons" class="table table-striped table-bordered" border="1" cellpadding="1">

    <thead>
      <tr class="headings">

        <th class="column-title">Dépôt</th>
        <th class="column-title">Code produit</th>
        <th class="column-title">Désignation produit</th>
        <th class="column-title">Date Achat</th>
        <th class="column-title">Quantité</th>
        <th class="column-title">Nature</th>
        <th class="column-title">Prix achat</th>
        <th class="column-title">Date expiration</th>
        <th class="column-title">Num BL</th>

      </tr>
    </thead>
    <tbody>

      <% var str="";for (var i = 0; i < stockin.length; i++) {

          switch (stockin[i].produnite)
                  {
                     case "Boîte": str=stockin[i].produnite + " (" + stockin[i].prodqteinit  * 21  + " Unités)";
                     break;

                     case "Caisse": str=stockin[i].produnite + " (" +  stockin[i].prodqteinit  * 6 * 21  + " Unités)";
                     break;

                     default: str="Unités";
                  }

        %>

<tr class="even pointer">

  <td class=" "><%= stockin[i].depotname %></td>
  <td class=" "><%= stockin[i].prodcode %></td>
  <td class=" "><%= stockin[i].prodname %></td>
  <td class=" "><%= stockin[i].dateachat %></td>
  <!-- <script> if ("<%= stockin[i].produnite %>"!=="Unité") {
  // document.write("(" + ConvertToUnit(<%= stockin[i].prodqteinit %>, "<%= stockin[i].produnite %>")+ " Unités)" );  }
  var str = "(" + ConvertToUnit(<%= stockin[i].prodqteinit %>, "<%= stockin[i].produnite %>")+ " Unités)" ;  }
  </script> -->
  <td class=" " style="color:#0000FF">
    <%= stockin[i].prodqteinit %>  <%= str %>
  </td>
  <td class=" " ><%= stockin[i].motifin %></td>
  <td class=" "  align="right"><b><%= stockin[i].prixachat.toFixed(2) %></td><!--quantité restante en stock-->
  <td class=" "><%= stockin[i].dateexp  %></td>
  <td class=" "><%= stockin[i].numbl %></td>

  <% } %>

    </tbody>
  </table>

</div>
<!-- <button id="print" type="button" class="btn btn-primary">Imprimer</button> -->
<button id="retour" type="button" class="btn btn-success" onclick="window.location.href='/listprod'">Liste des produits</button>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- /page content -->
<!-- Handling cloture click -->


<script src="../build/js/Helper.js"></script>






<% include footer.ejs %>
<script>
function printData()
{
 var divToPrint=document.getElementById("datatable-checkbox");
 newWin= window.open("");
 newWin.document.write("<h3>Historique des entrée en stock</h3>");
 newWin.document.write(divToPrint.outerHTML);
 newWin.print();
 newWin.close();
}

$('#print').on('click',function(){
printData();
})
</script>
