<% include header.ejs %>

	        <!-- page content -->
	        <div class="right_col" role="main" style="min-height: 368px;">
						<div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Liste des sorties du stock <small>Gestion de Stock</small></h2>

                    <div class="clearfix"></div>

                  </div>
									<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12 has-feedback-left" for="prog">Choix de Facture : <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<select id="dropdown1" type="text" name="factnum" required="required" data-validate-length-range="5,20" class="select2_single form-control col-md-7 col-xs-12" placeholder="">
											<option></option>
													<% for(i=0; i< patient.length; i++){%>
														<% for(j=0; j< patient[i].visites.length; j++){%>

																<option><%= patient[i].visites[j].factnum %> | <%= patient[i].patientnom %></option>

														<%}%>
													<%}%>


											</select>
									</div>
								</div>
								<br>
								<br>
								<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12 has-feedback-left" for="prog">Choix de Depot : <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select id="dropdown2" type="text" name="dropdown2" required="required" data-validate-length-range="5,20" class="select2_single form-control col-md-7 col-xs-12" placeholder="">

										<option></option>
										<% for(i=0; i<depots.length; i++){%>
											<option><%= depots[i].depotname%></option>
										<%}%>
										</select>
								</div>
							</div>
                      <div class="x_content">
												<div class="table-responsive">
												<!--    <table class="table table-striped jambo_table bulk_action"> -->
													<table  id="fact" class="table table-striped table-bordered bulk_action table-hover">
														<thead>
															<tr class="headings">

																<th class="column-title">Facture Number</th>
																<th class="column-title">Consultant</th>
																<th class="column-title">product Name</th>
																<th class="column-title">Quantity</th>

																<th class="column-title">Prodid</th>
																<th class="column-title">Action</th>




															</tr>
														</thead>

														<tbody>

															<% for(var i=0; i < patient.length; i++) { %>
																<% for(j=0; j< patient[i].visites.length; j++){%>
																		<% for(k=0; k< patient[i].visites[j].products.length; k++){%>

																<tr id="<%= patient[i].visites[j].factnum %>"  class="">
																<td class=""><%= patient[i].visites[j].factnum %></td>
																<td class=""><%= patient[i].visites[j].consultant %></td>
																<td class=""><%= patient[i].visites[j].products[k].prodname %></td>
																<td class=""><%= patient[i].visites[j].products[k].prodqte %></td>
																<td class=""><%= patient[i].visites[j].products[k].prodid %></td>
																<td class="last" align='right' width='120px;'>

																	<!-- <a id="livraison-btn" class="btn btn-success btn-xs <%= (patient[i].visites[j].products[k].delivred == true)?'hidden':'' %>" onclick="window.location.href = '/stockinout/<%= patient[i].visites[j].products[k].prodid.trim() %>?prodidinvisite=<%= patient[i].visites[j].products[k]._id %>&qte=<%= patient[i].visites[j].products[k].prodqte %>&factnum=<%= patient[i].visites[j].products[k].factnum %>&depotname=' + document.getElementById('dropdown2').value;"  role="button" title="Livraison1"><i class="fa fa-truck"></i></a> -->
																	<!-- <a id="livraison-btn" class="btn btn-success btn-xs <%= (patient[i].visites[j].products[k].delivred == true)?'hidden':'' %>" href="/stockinout/<%= patient[i].visites[j].products[k].prodid.trim() %>?prodidinvisite=<%= patient[i].visites[j].products[k]._id %>&qte=<%= patient[i].visites[j].products[k].prodqte %>&depotname="+ document.getElementById('dropdown2').value;    role="button" title="Livraison"><i class="fa fa-truck"></i></a> -->


																	<a id="livraison-btn" class="btn btn-success btn-xs <%= (patient[i].visites[j].products[k].delivred == true)?'hidden':'' %>" href="/stockinout/<%= patient[i].visites[j].products[k].prodid.trim() %>?prodidinvisite=<%= patient[i].visites[j].products[k]._id %>&qte=<%= patient[i].visites[j].products[k].prodqte %>&factnum=<%= patient[i].visites[j].products[k].factnum %>" role="button" title="Livraison"><i class="fa fa-truck"></i></a>

																	<a class="btn btn-danger btn-xs <%= (patient[i].visites[j].products[k].delivred == true)?'':'hidden' %>" href="#" role="button" title="Annulation de la livraison"><i class="fa fa-truck"></i></a>
																	<a class="btn btn-primary btn-xs" href="#" onclick="return confirm('Êtes-vous sûr de vouloir supprimer la ligne sélectionnée ？')" title="Voir le Stock" ><i class="fa fa-eye"></i></a>
																</td>

															 </tr>
															<% } %>
															<% } %>
															<% } %>

														</tbody>
													</table>


												</div>






                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

              </div>







</div>
	        <!-- /page content -->

<% include footer.ejs %>



<script>
$(document).ready(function() {
   var table =  $('#fact').DataTable();

     $('#dropdown1').on('change', function () {
                    table.columns(0).search( this.value.split('|')[0] ).draw();
                });



});

</script>
